
*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

:root {
    --app-primary-50: #eff6ff;
    --app-primary-100: #dbeafe;
    --app-primary-500: #3b82f6;
    --app-primary-900: #1e3a8a;

    --app-secondary-50 :#f9fafb;
    --app-secondary-100 :#f4f5f7;
    --app-secondary-500 :#6b7280;
    --app-secondary-900 :#1f2937;
}


*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

input:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* to override autofill bg */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family:  'Roboto';
        font-style:  normal;
        font-weight: 400;
        src: url('') format('woff2')
    };
}

@layer components {
    .avatar {
        background-color:  #fff;
        height: 100px;
        width: 100px;
        border:'1px solid gray'
    }

}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}